.bg-goodblue {
    background-color: #191919;
    color: #191919;
    border-color: #191919;
}

.border-bottomblue {
    background-color: #191919;
    color: #191919;
    border-color: #191919;
}
.font-weight-bold {
    color: black;
}